<form #employeeForm="ngForm" ngNativeValidate (ngSubmit)="saveEmployee(employee)">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">

            <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
                <label for="fullName" class="control-label">Full Name</label>
                <input required id="fullName" type="text" class="form-control" name="name" [(ngModel)]="employee.name"
                    #name="ngModel">
                <span class="help-block" *ngIf="name.invalid && name.touched">
                    Full Name is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="email.invalid">
                <label for="email" class="control-label">Email</label>
                <input id="email" [required]="contactPreference.value=='email'"
                    pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" type="text" class="form-control"
                    name="email" [(ngModel)]="employee.email" #email="ngModel">
                <span class="help-block" *ngIf="email.errors?.required">
                    Email is required
                </span>
                <span class="help-block" *ngIf="email.errors?.pattern && email.touched">
                    Email is Invalid
                </span>
            </div>

            <div class="form-group" [class.has-error]="phoneNumber.invalid">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input id="phoneNumber" [required]="contactPreference.value=='phone'" #phoneNumber="ngModel" type="text"
                    class="form-control" name="phoneNumber" [(ngModel)]="employee.phoneNumber">
                <span class="help-block" *ngIf="phoneNumber.errors?.required">
                    Phone Number is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="contactPreference.invalid">
                <label class="control-label">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" name="contactPreference" required #contactPreference="ngModel" value="email"
                            [(ngModel)]="employee.contactPreference">
                        Email
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="contactPreference" required #contactPreference="ngModel" value="phone"
                            [(ngModel)]="employee.contactPreference">
                        Phone
                    </label>
                </div>
                <span class="help-block" *ngIf="contactPreference.errors?.required">
                    ContactPreference is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="gender.invalid">
                <label class="control-label">Gender</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" name="gender" required #gender="ngModel" value="male"
                            [(ngModel)]="employee.gender">
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" required #gender="ngModel" value="female"
                            [(ngModel)]="employee.gender">
                        Female
                    </label>
                </div>
                <span class="help-block" *ngIf="gender.invalid">
                    Gender is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="isActive.invalid && isActive.touched">
                <div class="form-control">
                    <label class="checkbox-inline control-label">
                        <input type="checkbox" required name="isActive" #isActive="ngModel"
                            [(ngModel)]="employee.isActive"> Is Active
                    </label>
                </div>
                <span class="help-block" *ngIf="isActive.errors?.required && isActive.touched">
                    Is Active is required
                </span>
            </div>

            <div class="form-group" [class.has-error]="department.touched && department.errors?.defaultSelected">
                <label for="department" class="control-label">Department</label>
                <select id="department" name="department" required #department="ngModel" appSelectValidator="-1"
                    [(ngModel)]="employee.department" class="form-control">
                    <option value="-1">Select Department</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">
                        {{dept.name}}
                    </option>
                </select>
                <span class="help-block" *ngIf="department.touched && department.errors?.defaultSelected">
                    Department is required
                </span>
            </div>

            <div class="row">
                <div class="form-group col-md-5">
                    <label for="dateOfBirth">Date Of Birth</label>
                    <input id="dateOfBirth" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth" type="text"
                        placement="right" bsDatepicker [bsConfig]="datePickerConfig" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="photoPath">Photo Path</label>
                <input id="photoPath" type="text" class="form-control" name="photoPath"
                    [(ngModel)]="employee.photoPath">
            </div>

            <div class="form-group">
                <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto" />
            </div>

            <div class="form-group">
                <button (click)="togglePhotoPreview()" class="btn btn-primary">
                    {{previewPhoto ? "Hide " : "Show " }} Preview
                </button>
            </div>

            <div ngModelGroup="passwordGroup" #passwordGroup="ngModelGroup" appConfirmEqualValidator [class.has-error]="passwordGroup.errors?.notEqual
            && !confirmPassword.errors?.required">
                <div class="form-group" [class.has-error]="password.touched && password.invalid">
                    <label for="password" class="control-label">Password</label>
                    <input id="password" required type="text" class="form-control" name="password"
                        (change)="confirmPassword.control.updateValueAndValidity()" [(ngModel)]="employee.password"
                        #password="ngModel">
                    <span class="help-block" *ngIf="password.touched && password.errors?.required">
                        Password is required
                    </span>
                </div>

                <div class="form-group" [class.has-error]="confirmPassword.touched && confirmPassword.invalid">
                    <label for="confirmPassword" class="control-label">Confirm Password</label>
                    <input name="confirmPassword" required id="confirmPassword" type="text" class="form-control"
                        [(ngModel)]="employee.confirmPassword" #confirmPassword="ngModel">
                    <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.required">
                        Confirm Password is required
                    </span>
                    <span class="help-block" *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual &&
              !confirmPassword.errors?.required">
                        Password and Confirm Password does not match
                    </span>
                </div>
            </div>
        </div>

        <div class="panel-footer">
            <button class="btn btn-primary" type="submit" [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>

Angular Generated Forom Model : {{employeeForm.value | json}}
<br />
<br />
Our Employee Model : {{ employee | json}}